<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SocialBee - Social Media Platform</title>
    <link rel="stylesheet" href="/profile.css">
    <link rel="stylesheet" href="/commentpost.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer">
</head>
<body>
    <nav class="navbar">
        <div class="nav-social">
            <div class="logo">
                <h3>SocialBee</h3>
            </div>
            <div class="search-bar">
                <i class="fa fa-search search-icon"></i>
                <input type="search" placeholder="Search Profile">
            </div>
            <div class="postlink">
                <li><a href="/seepost">See Post</a></li>
                <div class="profilepic" id="profileimg">
                    <img src="/download.jpeg">
                </div>
            </div>
        </div>
    </nav>
    <main>
        <div class="mainContainer">
            <div class="mainleft">
                <aside>
                    <div class="sidebar-navigation">
                        <ul>
                            <li>
                                <i class="fa-solid fa-message"></i>
                                <span class="tooltip">Message</span>
                            </li>
                        </ul>
                    </div>
                    <li>
                        <!--<i class="fa-solid fa-right-from-bracket"></i> --> 
                         <a href="/logout" class="tooltip">Logout</a>
                     </li>
                </aside>
            </div>
        </div>
    </main>

    <div class="CommentContainer">
        <div class="blogAddComment">
            <h1>Add blogs</h1>
            <div class="postCommentContainer">
                <div class="postCommentContent">
                    <h1>Add comment to the Post</h1>
                    <form action="" method="post" enctype="multipart/form-data" id="commmentpost">
                        <div>
                            <label for="title">Comment:</label><br>
                            <input type="text" id="name" name="name" required>
                        </div>
                        <div>
                            <button type="submit">Post Comment </button>
                        </div>
                    </form>
                </div>
            </div>
            <div class="viewcomments">
                <div class="comment_container opened" id="first-comment">
                    <div class="comment_card">
                        <h3 class="comment_tittle">The first Comment</h3>
                        <p>Hola!! Hello!Hola!! Hello! Hola!! Hello! Hola!! Hello! Hola!! Hello! </p>
                        <div class="comment_footer">
                            <div class="show_replies">Reply 2</div>
                        </div>
                    </div>
                    <div class="comment_container" dataset="first-comment" id="first-reply">
                        <div class="comment_card">
                            <h3 class="comment_tittle">The first Comment's first comment</h3>
                            <p>Hola!! Hello!Hola!! Hello! Hola!! Hello! Hola!! Hello! Hola!! Hello! </p>
                            <div class="comment_footer">
                                <div class="show_replies">Reply 2</div>
                            </div>
                        </div>
                        <div class="comment_container" dataset="first-reply" id="first-first-reply">
                            <div class="comment_card">
                                <h3 class="comment_tittle">Reply of comment.</h3>
                                <p>Hola!! Hello!Hola!! Hello! Hola!! Hello! Hola!! Hello! Hola!! Hello! </p>
                                <div class="comment_footer">
                                    <div class="show_replies">Reply 2</div>
                                </div>
                            </div>
                        </div>
                    </div>   
                </div>
            </div>
            </div>
        </div>
    <script src="/logouthtml.js"></script>
    <script src="/commentspost.js"></script>
</body>
</html>
