<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Logout</title>
    <link rel="stylesheet" href="/logout.css"></link>
</head>
<body>
    <div class="container">
        <h2>Logout</h2>
        <p>Are you sure you want to logout?</p>
        <form id="logoutForm" action="/logout" method="POST">
            <button id="logout" type="submit" class="btn">Logout</button>
        </form>
    </div>
    <script src="/logouthtml.js"></script>
</body>
</html>
