/* register.css */

/* Reset default browser styles */
body, h1, h2, h3, h4, p, ul, li, form, input, button {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.navbar {
    background-color: #333;
    color: #fff;
    padding: 10px 0;
}

.navbar ul {
    list-style: none;
    text-align: center;
}

.navbar ul li {
    display: inline;
    margin: 0 10px;
}

.navbar ul li a {
    color: #fff;
    text-decoration: none;
}

.main {
    margin-top: 20px;
}

.containers {
    width: 80%;
    margin: auto;
    margin-top: 10%;
}

.registerform {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registerform h1 {
    font-size: 24px;
    margin-bottom: 20px;
}

.formreg label {
    display: block;
    margin-bottom: 5px;
}

.formreg input {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.formreg button {
    width: 100%;
    padding: 10px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.formreg button:hover {
    background-color: #555;
}

.formreg a {
    display: block;
    margin-top: 30px;
    text-decoration: none;
    color: #333;
}

.formreg a:hover {
    color: #555;
}
