.blogContainer {
    margin-top: 80px;
    margin-left: 220px;
    margin-right: 80px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e1dfdf;
    float:left;
    width:1000px;
    overflow-y: auto;
    height: 590px;
}


.blogpost {
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    overflow: hidden;
    padding: 20px;
}

.blog_post_img img {
    width: 100%;
    height: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.blog_post_content {
    padding: 20px;
}

.blog_post_title {
    font-size: 22px;
    margin-bottom: 10px;
    color: #333;
    padding: 10px;
}

.blog_post_date span {
    font-size: 14px;
    color: #666;
    margin-left: 10px;
}

.blog_post_content p {
    font-size: 16px;
    line-height: 1.6;
    color: #444;
}

.blog_post_like {
    width: fit-content;
    padding: 10px;
    background-color: #f2f2f2;
    text-align: center;
}

.like_btn button {
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    display: inline-block;
    vertical-align: middle;
}

.like_text p {
    font-size: 16px;
    color: #666;
    display: inline-block;
    vertical-align: middle;
    margin: 0 10px;
}

.like_btn button:hover {
    background-color: #0056b3;
}

.blog_post_comment {
    margin-top: 20px;
}

.commentbtn button {
    padding: 10px 20px;
    font-size: 14px;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.commentbtn button:hover {
    background-color: #0056b3;
}

.CommentContainer{
    margin-top: 80px;
    margin-left: 220px;
    margin-right: 80px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #e1dfdf;
    float:left;
    width:1000px;
    overflow-y: auto;
    height: 590px;
}



.postCommentContainer {
    margin-top: 40px;
    margin-left: 100px;
    margin-right: 80px;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f9f9f9;
}

.postCommentContent {
    max-width: 600px;
    margin: 0 auto;
}

/* Form styles */
form {
    margin-top: 20px;
}

form div {
    margin-bottom: 15px;
}

label {
    font-weight: bold;
}

input[type="text"],
input[type="file"],
textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

button[type="submit"] {
    background-color: #333;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #555;
}

#commentpost{
    display: hidden;
}

#commentpost.show-form{
    display: block;
}
